atomicwrites==1.4.0
attrs==19.3.0
colorama==0.4.3
glob2==0.7
iniconfig==1.1.1
Mako==1.1.6
MarkupSafe==2.1.0
more-itertools==8.4.0
packaging==20.4
parse==1.19.0
parse-type==0.6.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==7.0.1
pytest-bdd==5.0.0
six==1.15.0
tomli==2.0.1
wcwidth==0.2.5
